:root {
    --dark: #212121;
    --light: #4c4c4c;
    --text: #fde4b3;
    --highlight: #c8e7ed;
}

@font-face{
    font-family: 'saxmono';
    src: url('/fonts/saxmono.ttf') format('truetype');
}

* {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    margin-top: 3vh;
    min-height: 100%;
    height: 100%;
    font-family: 'saxmono';
    background-color: var(--dark);
    color: var(--text);
    font-size: 1.5rem;
}

h1 {
    margin: 0;
}

.bonus-display {
    color: var(--highlight);
}

.monster-svg {
    margin-top: 20px;
    filter: invert(84%) sepia(39%) saturate(273%) hue-rotate(346deg) brightness(102%) contrast(98%);
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.monster-svg:hover:active {
    margin-top: 25px;
    height: 140px;
    margin-bottom: 5px;
}

.monster-name {
    color: var(--highlight);
    margin-top: 20px;
}

.monster-display {
    font-size: 1rem;
    margin: 0;
}

.shard-progress {
    padding: 0;
    margin-top: 0.5rem;
    background-color: var(--light);
}

.shard-bar {
    padding: 0;
    background-color: var(--text);
}

.life-progress {
    padding: 0;
    background-color: var(--light);
}

.life-bar {
    padding: 0;
    background-color: var(--text);
}

.life-bar-critical {
    padding: 0;
    background-color: var(--highlight);
}

.refresh-button {
    padding-top: 0.5rem;
    color: var(--text);
    background-color: var(--dark);
    border-color: var(--text);
    border: solid;
    border-width: 1px;
    height: 50px;
    width: 50px;
    transition-property: color, background-color;
    transition-duration: 0.3s;
}

.refresh-button:hover {
    color: var(--dark);
    background-color: var(--text);
}

.main-col {
    height: 70vh;
}

.main-row {
    height: 70vh;
}

.center-row {
    border-right: solid;
    border-left: solid;
    border-color: var(--text);
    border-width: 2px;
}

.shard-display {
    font-size: 2rem;
}

.floor-display {
    font-size: 3rem;
}

.icon_display {
    filter: invert(84%) sepia(39%) saturate(273%) hue-rotate(346deg) brightness(102%) contrast(98%);
    margin-bottom: 0.3rem;
}

.dragon-svg {
    filter: invert(84%) sepia(39%) saturate(273%) hue-rotate(346deg) brightness(102%) contrast(98%);
    margin-top: 1.2rem;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.player-row {
    visibility: hidden;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 2rem;
}

#player-row.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}

.loot-image {
    margin-top: 50px;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.loot-image:active:hover {
    margin-top: 55px;
    height: 140px;
    width: 140px;
    margin-bottom: 5px;
}

.level-block {
    height: 30px;
    width: 30px;
    background-color: var(--text);
    border-style: solid;
    border-color: var(--text);
}

.last-level-block {
    height: 30px;
    width: 30px;
    background-color: var(--dark);
    border-style: solid;
    border-width: 1px;
    border-color: var(--text);
}

.description {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--highlight);
}

.timer {
    font-size: 8rem;
    color: var(--highlight);
    user-select: none;
}

.level-col {
    margin-bottom: 1rem;
}

.last-level-col {
    margin-bottom: 1rem;
}

.lvl-text {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.loot-display {
    font-size: 1.5rem;
    color : var(--text);
}

.time-display {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    color : var(--highlight);
}

.prime-button {
    padding-top: 4%;
    color: var(--text);
    background-color: var(--dark);
    border-color: var(--text);
    border: solid;
    border-width: 1px;
    font-size: 4rem;
    padding-right: 0.9rem;
    padding-left: 1rem;
    margin-top: 2rem;
    transition-property: color, background-color;
    transition-duration: 0.3s;
}

.prime-button:hover {
    color: var(--dark);
    background-color: var(--text);
}

.currency_display {
    margin-bottom: 0.3rem;
}

.mini_gui {
    font-size: 1rem;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    /* min-width: 250px; /* Set a default minimum width */
    margin-top: 3rem; /* Divide value of min-width by 2 */
    background-color: var(--text); /* Black background color */
    color: var(--dark); /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    z-index: 1; /* Add a z-index if needed */
    /* left: 50%; /* Center the snackbar */
    /* bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.market-item {
    font-size: 1rem;
    border-color: var(--text);
    border-width: 1px;
    border: solid;
    color: var(--text);
    background-color: var(--dark);
}

.market-item:hover {
    font-size: 1rem;
    border-color: var(--text);
    border-width: 1px;
    border: solid;
    color: var(--text);
    background-color: var(--dark);
}

.market-item-svg {
    filter: invert(84%) sepia(39%) saturate(273%) hue-rotate(346deg) brightness(102%) contrast(98%);
    margin-right: 0.5rem;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.market-header {
    margin-bottom: 2rem;
}

.market-line-text {
    margin-top: 0.8rem;
    font-size: 1rem;
}

.market-line {
    margin-bottom: 0.5rem;
}

abbr:hover::after {
    background: var(--text);
    color: var(--dark);
    border-radius: 4px;
    bottom: 100%;
    content: attr(title);
    display: block;
    left: 100%;
    padding: 1em;
    position: absolute;    
    width: 280px;
    z-index: 1;
}

.inv-slot {
    border: solid;
    border-width: 2px;
    border-color: var(--text);
    background-color: var(--text);
    width: 25px;
    height: 25px;
}

.inv-slot-empty {
    border: solid;
    border-width: 2px;
    border-color: var(--text);
    background-color: var(--dark);
    width: 25px;
    height: 25px;
}

.inv-slot-dotted {
    border-style: dotted;
    border-width: 2px;
    border-color: var(--text);
    background-color: var(--dark);
    width: 25px;
    height: 25px;
}

.inventory-slots {
    margin-bottom: 1rem;
}

.shard-lang {
    border: solid 1px var(--text);
    background-color: var(--dark);
    color: var(--text);
    font-size: 1.2rem;
    padding: 1rem 2rem 1rem 2rem; 
}